{
    "presets": ["es2015", "react"],
    "plugins": [
        "transform-object-rest-spread",
        "transform-runtime",
        "transform-decorators-legacy",
        "transform-class-properties"
    ],
    "sourceMaps": true,
    "ignore": ["node_modules"]
}
