{
    "presets": ["es2015-loose"],
    "plugins": [
        "transform-react-jsx",
        ["transform-class-properties", {"loose": true}],
        ["transform-runtime", {"polyfill": false}],
        ["transform-object-rest-spread", {"loose": true}],
        "transform-decorators-legacy"
    ],
    "sourceMaps": true
}
